body {
  background-color: pink;
}

header, footer {
  background-color: pink;
}

.bgrcolor1 {
  background-color: #000;
  color: white;
}

.bgrcolor2 {
  background-color: blanchedalmond;
  color: #000;
}


